<h1>Welcome to <%= @kitten.name %>'s page!</h1>

<img src='/public/kittens1.jpg' />

<p><b>Color:</b> <%= @kitten.color %></p>

<p><b>Breed:</b> <%= @kitten.breed %></p>

<a href="/">Return to index</a>
